Automated Dutch Keyword Research with DataForSEO APIs.json
{
  "name": "Automated Dutch Keyword Research with DataForSEO APIs",
  "nodes": [
    {
      "parameters": {},
      "id": "44f67139-ad87-4374-baab-505dc3f14db6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4032,
        168
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "spreadsheetId",
              "value": "<__PLACEHOLDER_VALUE__Google Spreadsheet ID__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "locationCode",
              "value": 2528,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "languageCode",
              "value": "nl",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "apiLimit",
              "value": 1000,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e2b540dc-a6ed-4aba-a8be-a68c30fe2fc7",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3808,
        168
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "seed_keywords"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "id": "774d557f-b089-4003-a2d2-7f907501c463",
      "name": "Read Seed Keywords",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3360,
        72
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6ZCtb5Q4MBJINOjQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "keyword_results"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "id": "f8b1b699-333e-4da1-bb67-75af68e313bc",
      "name": "Read Existing Keywords",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3584,
        264
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6ZCtb5Q4MBJINOjQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const existingKeywords = new Set();\nfor (const item of $input.all()) {\n  if (item.json.keyword) {\n    existingKeywords.add(item.json.keyword.toLowerCase());\n  }\n}\nreturn [{ json: { existingKeywords: Array.from(existingKeywords) } }];"
      },
      "id": "ebb8f1a0-d13b-4c88-8413-20b355b6ab01",
      "name": "Create Existing Keywords Set",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        264
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "42b737f2-3392-4eb2-953f-9b575a3803d1",
      "name": "Merge Seed Keywords with Existing Set",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3136,
        168
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f0515c5e-1e68-4b41-939f-b19f48bc1c1c",
      "name": "Loop Over Seed Keywords",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2912,
        168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/related_keywords/live",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{ \"keywords\": [\"{{ $json.seed_keyword }}\"], \"location_code\": {{ $('Workflow Configuration').first().json.locationCode }}, \"language_code\": \"{{ $('Workflow Configuration').first().json.languageCode }}\", \"limit\": {{ $('Workflow Configuration').first().json.apiLimit }} }]",
        "options": {}
      },
      "id": "07feb704-95f0-4bea-896e-17f557a75050",
      "name": "API 1: Related Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2688,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "seed_keyword",
              "value": "={{ $('Loop Over Seed Keywords').item.json.seed_keyword }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "relatedKeywords",
              "value": "={{ $json.tasks[0].result[0].items }}",
              "type": "array"
            },
            {
              "id": "id-3",
              "name": "existingKeywords",
              "value": "={{ $('Loop Over Seed Keywords').item.json.existingKeywords }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "39e8ceb4-78af-4a38-9844-3d2d89ace2a4",
      "name": "Extract Related Keywords",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2464,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const questionWords = ['wat', 'hoe', 'waarom', 'waar', 'wanneer', 'wie', 'welke', 'hoeveel'];\nconst seedKeyword = $input.first().json.seed_keyword;\nconst existingKeywords = $input.first().json.existingKeywords;\nconst relatedKeywords = $input.first().json.relatedKeywords;\n\nconst requests = questionWords.map(qw => ({\n  json: {\n    prefixedSeed: `${qw} ${seedKeyword}`,\n    seed_keyword: seedKeyword,\n    existingKeywords,\n    relatedKeywords\n  }\n}));\n\nreturn requests;"
      },
      "id": "3bded983-a5b0-461b-a1d9-080d8c6a26cc",
      "name": "Prepare Question Keywords Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_suggestions/live",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{ \"keywords\": [\"{{ $json.prefixedSeed }}\"], \"location_code\": {{ $('Workflow Configuration').first().json.locationCode }}, \"language_code\": \"{{ $('Workflow Configuration').first().json.languageCode }}\", \"limit\": {{ $('Workflow Configuration').first().json.apiLimit }} }]",
        "options": {}
      },
      "id": "538056e1-79f4-4beb-8e35-35b626f24bbc",
      "name": "API 2: Question Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2016,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const questionWords = ['wat', 'hoe', 'waarom', 'waar', 'wanneer', 'wie', 'welke', 'hoeveel'];\nconst allItems = $input.all();\nconst seedKeyword = allItems[0].json.seed_keyword;\nconst existingKeywords = allItems[0].json.existingKeywords;\nconst relatedKeywords = allItems[0].json.relatedKeywords;\n\nlet questionKeywords = [];\nfor (const item of allItems) {\n  const items = item.json.tasks?.[0]?.result?.[0]?.items || [];\n  questionKeywords = questionKeywords.concat(items);\n}\n\nquestionKeywords = questionKeywords.filter(kw => {\n  const keyword = kw.keyword?.toLowerCase() || '';\n  return questionWords.some(qw => keyword.includes(qw));\n});\n\nreturn [{ json: { seed_keyword: seedKeyword, questionKeywords, relatedKeywords, existingKeywords } }];"
      },
      "id": "b1662153-14e3-42a0-aba1-d037ed735c12",
      "name": "Extract and Filter Question Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/serp/google/autocomplete/live",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{ \"keyword\": \"{{ $json.seed_keyword }}\", \"location_code\": {{ $('Workflow Configuration').first().json.locationCode }}, \"language_code\": \"{{ $('Workflow Configuration').first().json.languageCode }}\", \"depth\": 5 }]",
        "options": {}
      },
      "id": "2efef7ca-206a-4e08-8153-6a858c22b948",
      "name": "API 3: Search Suggestions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1568,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "seed_keyword",
              "value": "={{ $json.seed_keyword }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "suggestions",
              "value": "={{ $json.tasks[0].result[0].items }}",
              "type": "array"
            },
            {
              "id": "id-3",
              "name": "questionKeywords",
              "value": "={{ $json.questionKeywords }}",
              "type": "array"
            },
            {
              "id": "id-4",
              "name": "relatedKeywords",
              "value": "={{ $json.relatedKeywords }}",
              "type": "array"
            },
            {
              "id": "id-5",
              "name": "existingKeywords",
              "value": "={{ $json.existingKeywords }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "27b06c29-c366-45ea-9683-b93d771a3f6a",
      "name": "Extract Search Suggestions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_ideas/live",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{ \"keywords\": [\"{{ $json.seed_keyword }}\"], \"location_code\": {{ $('Workflow Configuration').first().json.locationCode }}, \"language_code\": \"{{ $('Workflow Configuration').first().json.languageCode }}\", \"limit\": {{ $('Workflow Configuration').first().json.apiLimit }} }]",
        "options": {}
      },
      "id": "f26d262e-cec8-4007-9a41-389c0a31722c",
      "name": "API 4: Keyword Ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1120,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "seed_keyword",
              "value": "={{ $json.seed_keyword }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "ideas",
              "value": "={{ $json.tasks[0].result[0].items }}",
              "type": "array"
            },
            {
              "id": "id-3",
              "name": "suggestions",
              "value": "={{ $json.suggestions }}",
              "type": "array"
            },
            {
              "id": "id-4",
              "name": "questionKeywords",
              "value": "={{ $json.questionKeywords }}",
              "type": "array"
            },
            {
              "id": "id-5",
              "name": "relatedKeywords",
              "value": "={{ $json.relatedKeywords }}",
              "type": "array"
            },
            {
              "id": "id-6",
              "name": "existingKeywords",
              "value": "={{ $json.existingKeywords }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "3c726294-fd74-470b-8d7b-0d1b0440a4e7",
      "name": "Extract Keyword Ideas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        96
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "relatedKeywords"
            },
            {
              "fieldToAggregate": "questionKeywords"
            },
            {
              "fieldToAggregate": "suggestions"
            },
            {
              "fieldToAggregate": "ideas"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "id": "09bf8c55-bf9e-4ece-bf49-08ac22ec12eb",
      "name": "Combine All API Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -672,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const seedKeyword = $input.first().json.seed_keyword; const existingKeywords = new Set($input.first().json.existingKeywords || []); const relatedKeywords = $input.first().json.relatedKeywords || []; const questionKeywords = $input.first().json.questionKeywords || []; const suggestions = $input.first().json.suggestions || []; const ideas = $input.first().json.ideas || []; const allKeywords = []; const processKeywords = (items, type) => { for (const item of items) { const keyword = item.keyword || item; if (!keyword) continue; const keywordLower = keyword.toLowerCase(); if (existingKeywords.has(keywordLower)) continue; const searchVolume = item.keyword_info?.search_volume || (Array.isArray(item.keyword_info?.monthly_searches) ? Math.round(item.keyword_info.monthly_searches.reduce((sum, m) => sum + (m.search_volume || 0), 0) / item.keyword_info.monthly_searches.length) : null); const competition = item.keyword_info?.competition || null; const cpc = item.keyword_info?.cpc || null; const keywordDifficulty = item.serp_info?.keyword_difficulty || null; allKeywords.push({ keyword, keywordLower, seed_keyword: seedKeyword, search_volume: searchVolume, competition, cpc, keyword_difficulty: keywordDifficulty, keyword_type: type }); } }; processKeywords(relatedKeywords, 'related'); processKeywords(questionKeywords, 'question'); processKeywords(suggestions, 'suggestion'); processKeywords(ideas, 'idea'); const uniqueKeywords = new Map(); for (const kw of allKeywords) { if (!uniqueKeywords.has(kw.keywordLower)) { uniqueKeywords.set(kw.keywordLower, kw); } } const result = Array.from(uniqueKeywords.values()).map(kw => ({ json: { seed_keyword: kw.seed_keyword, keyword: kw.keyword, search_volume: kw.search_volume, competition: kw.competition, cpc: kw.cpc, keyword_difficulty: kw.keyword_difficulty, keyword_type: kw.keyword_type } })); return result.length > 0 ? result : [{ json: { hasKeywords: false } }];"
      },
      "id": "2e8f14ee-8b83-409b-b55f-5fa3dfbfa225",
      "name": "Deduplicate and Filter Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.hasKeywords }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fbdc2e0c-7b78-4752-a4b7-0f5ad9b0c7ee",
      "name": "Check If New Keywords Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').first().json.spreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "keyword_results"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {}
      },
      "id": "726709a2-2e17-4547-9c25-c03525d56b2a",
      "name": "Append Keywords to Results Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6ZCtb5Q4MBJINOjQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 23
      },
      "id": "4103b90c-f6bf-4cc8-b253-73156031dd26",
      "name": "Wait 23 Seconds (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        192
      ],
      "webhookId": "2dc007ea-6cb3-446c-8ac1-544044143e43"
    },
    {
      "parameters": {},
      "id": "001aab37-e636-4b40-b240-3d97b9c8d6ed",
      "name": "No New Keywords - Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Read Seed Keywords",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Keywords": {
      "main": [
        [
          {
            "node": "Create Existing Keywords Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Seed Keywords": {
      "main": [
        [
          {
            "node": "Merge Seed Keywords with Existing Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Existing Keywords Set": {
      "main": [
        [
          {
            "node": "Merge Seed Keywords with Existing Set",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Seed Keywords with Existing Set": {
      "main": [
        [
          {
            "node": "Loop Over Seed Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Seed Keywords": {
      "main": [
        [
          {
            "node": "API 1: Related Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 1: Related Keywords": {
      "main": [
        [
          {
            "node": "Extract Related Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Related Keywords": {
      "main": [
        [
          {
            "node": "Prepare Question Keywords Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Question Keywords Requests": {
      "main": [
        [
          {
            "node": "API 2: Question Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 2: Question Keywords": {
      "main": [
        [
          {
            "node": "Extract and Filter Question Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract and Filter Question Keywords": {
      "main": [
        [
          {
            "node": "API 3: Search Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 3: Search Suggestions": {
      "main": [
        [
          {
            "node": "Extract Search Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Search Suggestions": {
      "main": [
        [
          {
            "node": "API 4: Keyword Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 4: Keyword Ideas": {
      "main": [
        [
          {
            "node": "Extract Keyword Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Keyword Ideas": {
      "main": [
        [
          {
            "node": "Combine All API Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All API Results": {
      "main": [
        [
          {
            "node": "Deduplicate and Filter Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate and Filter Keywords": {
      "main": [
        [
          {
            "node": "Check If New Keywords Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If New Keywords Exist": {
      "main": [
        [
          {
            "node": "Append Keywords to Results Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Keywords - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Keywords to Results Sheet": {
      "main": [
        [
          {
            "node": "Wait 23 Seconds (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No New Keywords - Skip": {
      "main": [
        [
          {
            "node": "Wait 23 Seconds (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 23 Seconds (Rate Limit)": {
      "main": [
        [
          {
            "node": "Loop Over Seed Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "62ecec6e-1f8f-489e-8493-0de16205ad3e",
  "meta": {
    "instanceId": "df2dc7cad948035ed9bcfeca2b0b9347c35bd5b90ebb284d305df6b5e3a21f5f"
  },
  "id": "Cr3pOzvWBoBMWNTD",
  "tags": []
}