Send email based on Customer Payment Status.json
{
  "name": "Send email based on Customer Payment Status",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "016c1ca1-4f78-461b-9b11-c388318be3c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19laW63uwhmxbrKv3ozSQfjz7xQCBTwh4vLfH8mRzxuo",
          "mode": "list",
          "cachedResultName": "Customer_Innovice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19laW63uwhmxbrKv3ozSQfjz7xQCBTwh4vLfH8mRzxuo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19laW63uwhmxbrKv3ozSQfjz7xQCBTwh4vLfH8mRzxuo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        160
      ],
      "id": "c1b74975-b49d-449b-8bc5-32bf5a04eae4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rjNERmX9fyprZ1g1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45e262f3-bdab-4c1f-8caf-5243828dc8f4",
              "leftValue": "={{ $json.PaymentStatus }}",
              "rightValue": "Paid",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        448,
        160
      ],
      "id": "ece69ab2-7cfd-46a4-af59-0300e2145a20",
      "name": "Filter"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Friendly Reminder – {{ $json.PaymentStatus }} Payment ",
        "message": "=Dear {{ $json.Name }},  \n\n\nThis is a friendly reminder that your payment dated {{ $json.DueDate }} is currently unpaid.  \n\nWe kindly request you to complete the payment before the due date to ensure uninterrupted service.\n\nThank you for your attention and prompt payment.  \n\nBest regards,\nBilling Department\n\n\n\n\n\n\n\n.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        -32
      ],
      "id": "7e6b3e7e-20ac-4099-a200-ad5f1df25d0a",
      "name": "Send a message",
      "webhookId": "312e4a4e-63ea-4705-ba11-bb05eeb7f7fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "l3GLi3DBbC7tRTgp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Payment {{ $json.PaymentStatus }}  – Immediate Action Required",
        "message": "=Dear {{ $json.Name }},  \n\nWe hope you are doing well. Our records indicate that your payment dated  {{ $json.DueDate }} is overdue.  \n\nKindly make the payment at the earliest to avoid any late fees or service interruptions.  \n\nInvoice Amount: {{ $json.InvoiceDue }}\nDue Date:   {{ $json.DueDate }}\n\n\nIf you have already made the payment, please disregard this notice.  \n\nThank you for your prompt attention.  \n\nBest regards,  \nBilling Department\n\n\n\n\n\n.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        160
      ],
      "id": "fa670c50-3af0-4b2d-9a99-9931698a6ade",
      "name": "Send a message1",
      "webhookId": "20a4fa0b-c75c-4459-8d54-1caaa2876fec",
      "credentials": {
        "gmailOAuth2": {
          "id": "l3GLi3DBbC7tRTgp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.PaymentStatus }}",
                    "rightValue": "Overdue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "49973ec2-1cc2-470f-befe-f88815343863"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7f96421-3df2-4d30-aed8-e668053ac52e",
                    "leftValue": "={{ $json.PaymentStatus }}",
                    "rightValue": "Unpaid",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        672,
        144
      ],
      "id": "9228e614-e4c8-4a43-904b-f28c1c67b34a",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "msprofessor56@gmail.com",
        "subject": "Review & Correct Customer Record",
        "message": "=Hi Billing Department! |   Please review the following customer record, as some data appears ambiguous:    - Customer ID: {{ $json.CustomerID }}   - Name: {{ $json.Name }}   - Invoice Due: {{ $json.InvoiceDue }}  - Payment Status:  {{ $json.PaymentStatus }}  - Due Date:  {{ $json.DueDate }}   Kindly verify and update as necessary.    Thanks,   Ai Agent.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        352
      ],
      "id": "1cad98dc-ce29-43c1-b578-c61c2db103cd",
      "name": "Send a message2",
      "webhookId": "3cdcd560-a506-479b-8fc0-3ec5b75e24a6",
      "credentials": {
        "gmailOAuth2": {
          "id": "l3GLi3DBbC7tRTgp",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "27d71579-bd5e-4cb5-9087-61c92a29bfde",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df2dc7cad948035ed9bcfeca2b0b9347c35bd5b90ebb284d305df6b5e3a21f5f"
  },
  "id": "848E0alBd0OJTqyP",
  "tags": []
}